<h2>New Part</h2>

<form action="/" method="POST">
    <ul>
        <li>
            <label for="partName">Part Name:  </label>
            <input type="text" name="partName">
        </li>
        <br>
        <li>
            <label for="partNo">Part Number:  </label>
            <input type="text" name="partNo">
        </li>
        <br>
        <li>
            <label for="quantity">Quantity:  </label>
            <input type="number" name="quantity">
        </li>
        <br>
        <li>
            <label for="pricePer">Price each:  </label>
            <input type="number" name="pricePer">
        </li>
        <br>
        <li>
            <label for="totalPartPrice">Total Price:  </label>
            <input type="number" name="totalPartPrice">
        </li>
        <br>
        <li>
            <label for="linkToPart">Link to part:  </label>
            <input type="text" name="linkToPart">
        </li>
        <br>
        <li>
            <label for="refLink">Reference Link:  </label>
            <input type="text" name="refLink">
        </li>
        <br>
        <li>
            <label for="notes">Notes:  </label>
            <textarea rows = "5" cols = "60" name="notes"></textarea>
        </li>
    </ul>
    <br>
    <input type="submit" value="Create">
</form>
<br>
<a href="/">Go back to Home</a>