<h2>New Part</h2>

<form action="/" method="POST">
    <p>
        <label for="partName">Part Name:  </label>
        <input type="text" name="partName">
    </p>
    <br>
    <p>
        <label for="partNo">Part Number:  </label>
        <input type="text" name="partNo">
    </p>
    <br>
    <p>
        <label for="quantity">Quantity:  </label>
        <input type="number" name="quantity">
    </p>
    <br>
    <p>
        <label for="pricePer">Price each:  </label>
        <input type="number" name="pricePer">
    </p>
    <br>
    <p>
        <label for="totalPartPrice">Total Price:  </label>
        <input type="number" name="totalPartPrice">
    </p>
    <br>
    <p>
        <label for="linkToPart">Link to part:  </label>
        <input type="text" name="linkToPart">
    </p>
    <br>
    <p>
        <label for="refLink">Reference Link:  </label>
        <input type="text" name="refLink">
    </p>
    <br>
    <p>
        <label for="notes">Notes:  </label>
        <textarea rows = "5" cols = "60" name="notes"></textarea>
    </p>
    <br>
    <input type="submit" value="Create">
</form>
<br>
<a href="/">Go back to Home</a>