body {
    background: #C3CDE6;
    font-family: 'Hind Siliguri', sans-serif;
}

input[type=submit] {
    font-size: 16px;
    padding:5px 15px; 
    background:#00CC99; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}